.winnow-input {
  display: block;
}
.modules-tabs {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background: #e6e5e1;
}
.modules-tabs__menu {
  float: left; /* LTR */
  width: 240px;
  margin: 0 -100% -1px 0; /* LTR */
  padding: 0;
  border-bottom: 1px solid #ccc;
  line-height: 1;
}
[dir='rtl'] .modules-tabs__menu {
  float: right;
  margin: 0 0 -1px -100%;
}
.modules-tabs__menu-item {
  border-top: 1px solid #ccc;
  background: #eee;
}
.modules-tabs__menu-item:first-child {
  border-top: 0 none;
}
.modules-tabs__menu-item.tab__new {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.modules-tabs__menu-item.suggest {
  background: #f9f9f9;
}
.modules-tabs__menu-item.disabled {
  border-top-color: #bbb;
  border-bottom-color: #bbb;
  background: #ccc;
}
.modules-tabs__menu-item a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
.modules-tabs__menu-item a:hover,
.modules-tabs__menu-item a:focus {
  text-decoration: none;
  outline: 0;
  background: #d5d5d5;
}
.modules-tabs__menu-item.is-selected a,
.modules-tabs__menu-item.is-selected a:hover,
.modules-tabs__menu-item.is-selected a:focus,
.modules-tabs__menu-item.is-selected a:active {
  margin-right: -1px;
  background-color: #fcfcfa;
}
.modules-tabs__menu-item.disabled a,
.modules-tabs__menu-item.disabled span {
  color: #999;
}
.modules-tabs__menu-item.disabled a {
  cursor: default;
  pointer-events: none;
}
.modules-tabs__menu-item .summary {
  padding-top: 0.4em;
  color: #666;
  font-size: 0.846em;
  line-height: 1em;
}
.modules-tabs__menu-item ul.enabling {
  display: block;
  color: green;
  font-size: 0.75em;
  font-weight: bold;
}
.modules-tabs__menu-item ul.enabling::before {
  content: '+';
}
.modules-tabs__menu-item span.result {
  float: right;
  margin-top: 2px;
  color: #999;
  font-size: 10px;
}
.modules-tabs__menu-item.disabled span.result {
  display: none;
}
.modules-tabs__pane {
  margin: 0 0 0 240px; /* LTR */
  padding: 10px 15px;
  border-left: 1px solid #a6a5a1; /* LTR */
  background: #fcfcfa;
}
[dir='rtl'] .modules-tabs__pane {
  margin: 0 240px 0 0;
  border-right: 1px solid #a6a5a1;
  border-left: none;
}
.modules-tabs__pane::after {
  display: table;
  clear: both;
  content: '';
}
.modules-tabs__pane input.table-filter-text {
  width: 100%;
}
.modules-tabs__pane table {
  table-layout: fixed;
}
.modules-tabs__pane table col.checkbox {
  width: 8%;
}
.modules-tabs__pane table col.name {
  width: 25%;
}
.modules-tabs__pane table col.version {
  width: 10%;
}
.modules-tabs__pane table col.links {
  width: 15%;
}
.modules-tabs__pane table tr.enabling {
  background-color: #dfd;
}
.modules-tabs__pane table td details summary {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Gin's css for polishing the style. */
.gin--vertical-toolbar .modules-tabs,
.gin--horizontal-toolbar .modules-tabs,
.gin--classic-toolbar .modules-tabs,
.gin--navigation .modules-tabs {
  border: 0 none;
  background: transparent;
}

.gin--vertical-toolbar .modules-tabs__pane,
.gin--vertical-toolbar .modules-tabs__menu,
.gin--vertical-toolbar .modules-tabs__menu-item,
.gin--horizontal-toolbar .modules-tabs__pane,
.gin--horizontal-toolbar .modules-tabs__menu,
.gin--horizontal-toolbar .modules-tabs__menu-item,
.gin--classic-toolbar .modules-tabs__pane,
.gin--classic-toolbar .modules-tabs__menu,
.gin--classic-toolbar .modules-tabs__menu-item,
.gin--navigation .modules-tabs__pane,
.gin--navigation .modules-tabs__menu,
.gin--navigation .modules-tabs__menu-item {
  background: var(--gin-bg-layer);
}

.gin--vertical-toolbar .modules-tabs__pane,
.gin--horizontal-toolbar .modules-tabs__pane,
.gin--classic-toolbar .modules-tabs__pane,
.gin--navigation .modules-tabs__pane {
  padding-block: var(--gin-spacing-l) 0;
  padding-inline: var(--gin-spacing-l);
  border-inline-start: 1px solid var(--gin-border-color);
}

.gin--vertical-toolbar .modules-tabs__pane table tr.enabling,
.gin--horizontal-toolbar .modules-tabs__pane table tr.enabling,
.gin--classic-toolbar .modules-tabs__pane table tr.enabling,
.gin--navigation .modules-tabs__pane table tr.enabling {
  background: var(--gin-bg-green-light);
}

.gin--vertical-toolbar .modules-tabs__menu-item,
.gin--horizontal-toolbar .modules-tabs__menu-item,
.gin--classic-toolbar .modules-tabs__menu-item,
.gin--navigation .modules-tabs__menu-item {
  border-block-start: 1px solid var(--gin-border-color);
}

.gin--vertical-toolbar .modules-tabs__menu-item.tab__new,
.gin--horizontal-toolbar .modules-tabs__menu-item.tab__new,
.gin--classic-toolbar .modules-tabs__menu-item.tab__new,
.gin--navigation .modules-tabs__menu-item.tab__new {
  border-block-end: 1px solid var(--gin-border-color);
}

.gin--vertical-toolbar .modules-tabs__menu-item.disabled,
.gin--horizontal-toolbar .modules-tabs__menu-item.disabled,
.gin--classic-toolbar .modules-tabs__menu-item.disabled,
.gin--navigation .modules-tabs__menu-item.disabled {
  border-block-start-color: var(--gin-border-color);
  border-block-end-color: transparent;
  background-color: transparent;
}

.gin--vertical-toolbar .modules-tabs__menu-item.suggest,
.gin--vertical-toolbar .modules-tabs__menu-item a:hover,
.gin--vertical-toolbar .modules-tabs__menu-item a:focus,
.gin--vertical-toolbar .modules-tabs__menu-item a:active,
.gin--horizontal-toolbar .modules-tabs__menu-item.suggest,
.gin--horizontal-toolbar .modules-tabs__menu-item a:hover,
.gin--horizontal-toolbar .modules-tabs__menu-item a:focus,
.gin--horizontal-toolbar .modules-tabs__menu-item a:active,
.gin--classic-toolbar .modules-tabs__menu-item.suggest,
.gin--classic-toolbar .modules-tabs__menu-item a:hover,
.gin--classic-toolbar .modules-tabs__menu-item a:focus,
.gin--classic-toolbar .modules-tabs__menu-item a:active,
.gin--navigation .modules-tabs__menu-item.suggest,
.gin--navigation .modules-tabs__menu-item a:hover,
.gin--navigation .modules-tabs__menu-item a:focus,
.gin--navigation .modules-tabs__menu-item a:active {
  background: var(--gin-bg-item-hover);
}

.gin--vertical-toolbar .modules-tabs__menu-item.is-selected a,
.gin--vertical-toolbar .modules-tabs__menu-item.is-selected a:hover,
.gin--vertical-toolbar .modules-tabs__menu-item.is-selected a:focus,
.gin--vertical-toolbar .modules-tabs__menu-item.is-selected a:active,
.gin--horizontal-toolbar .modules-tabs__menu-item.is-selected a,
.gin--horizontal-toolbar .modules-tabs__menu-item.is-selected a:hover,
.gin--horizontal-toolbar .modules-tabs__menu-item.is-selected a:focus,
.gin--horizontal-toolbar .modules-tabs__menu-item.is-selected a:active,
.gin--classic-toolbar .modules-tabs__menu-item.is-selected a,
.gin--classic-toolbar .modules-tabs__menu-item.is-selected a:hover,
.gin--classic-toolbar .modules-tabs__menu-item.is-selected a:focus,
.gin--classic-toolbar .modules-tabs__menu-item.is-selected a:active,
.gin--navigation .modules-tabs__menu-item.is-selected a,
.gin--navigation .modules-tabs__menu-item.is-selected a:hover,
.gin--navigation .modules-tabs__menu-item.is-selected a:focus,
.gin--navigation .modules-tabs__menu-item.is-selected a:active {
  background: var(--gin-bg-layer);
}

.gin--vertical-toolbar .modules-tabs__menu-item ul.enabling,
.gin--horizontal-toolbar .modules-tabs__menu-item ul.enabling,
.gin--classic-toolbar .modules-tabs__menu-item ul.enabling,
.gin--navigation .modules-tabs__menu-item ul.enabling {
  color: var(--gin-color-green);
}

.gin--vertical-toolbar .module-filter-status,
.gin--horizontal-toolbar .module-filter-status,
.gin--classic-toolbar .module-filter-status,
.gin--navigation .module-filter-status {
  margin-inline-start: -1em;
}

.gin--vertical-toolbar .modules-tabs .module-filter-status,
.gin--horizontal-toolbar .modules-tabs .module-filter-status,
.gin--classic-toolbar .modules-tabs .module-filter-status,
.gin--navigation .modules-tabs .module-filter-status {
  margin-inline-start: 0;
}
